@import "./root.css";

/* 네비바 최상위 컴포넌트 */
.nav {
  position: fixed;
  display: flex;
  align-items: center;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  top: 0;
  width: 100%;
  height: 30px;
  padding: 20px;
  z-index: 1;
  background-color: #111;
}
.nav_scroll {
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  opacity: 0.8;
}

/* 네비바 자식 Logo */
.nav_logo {
  position: fixed;
  display: flex;
  left: 40px;
  width: 100px;
  height: 40px;
  font-size: 34px;
  cursor: pointer;
  font-family: var(--font-family-dancing);
  font-weight: bold;
  background: #ee0979;
  background: -webkit-linear-gradient(left, #ee0979, #ff6a00);
  background: -moz-linear-gradient(right, #ee0979, #ff6a00);
  background: -o-linear-gradient(right, #ee0979, #ff6a00);
  background: linear-gradient(to right, #ee0979, #ff6a00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* 네비바 자식 Menu */
.nav_menu {
  position: fixed;
  left: 130px;
}
.nav_menu span {
  margin-left: 1.2rem;
  color: rgb(244, 244, 244);
  font-weight: bold;
  font-family: var(--font-family-noto);
}
.product_span{
  cursor: pointer;
}
.nav_menu span:hover {
  color: rgb(219, 219, 219);
}

.nav_right {
  position: fixed;
  right: 5%;
}
.nav_login {
  color: rgb(244, 244, 244);
  font-weight: bold;
  font-family: var(--font-family-noto);
  cursor: pointer;
}
.nav_login:hover {
  color: rgb(203, 203, 203);
}

.nav_logout{
  margin-left: 32px;
  color: rgb(244, 244, 244);
  font-weight: bold;
  font-size: 16px;
  font-family: var(--font-family-noto);
  cursor: pointer;
}
.nav_logout:hover{
  color: rgb(203, 203, 203);
}

.icon_hamburger {
  position: fixed;
  display: flex;
  display: none;
  right: 5%;
  cursor: pointer;
}
/* // 스크롤 50px 아래시 컬러 변환 */
.nav_change span {
  color: #111;
}
.nav_change span:hover {
  color: #ee0979;
}
.i_hamburger_change {
  fill: #111;
}

.TopBar{
  position: absolute;
  top: 675px;
  right: 58px;
  width: 25px;
  height: 25px;
  z-index: 9999;
  opacity: 0.5;
  cursor: pointer;
}
.TopBar:hover{
  color: #ee0979;
}

.sub_box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 50px;
  width: 120px;
  height: 170px;
  border-radius: 8px;
  background-color: var(--font-color-white);
  box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.sub_box span{
  display: flex;
  font-weight: bold;
  font-family: var(--font-family-noto);
  color: var(--font-color-black);
  cursor: pointer;
}
.sub_home:hover, .sub_profile:hover, .sub_cart:hover, .sub_order:hover, .sub_notice:hover{
  color: #ee0979;
}



/* 반응형 */
@media (max-width: 1024px) {
  .nav_login,
  .nav_logout,
  .nav_menu span {
    display: none;
  }
  .icon_hamburger {
    display: flex;
  }
  .nav_logo {
    left: 45%;
  }
}
@media (max-width: 500px){
  .TopBar{
    top: 875px;
  }
}
